<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="fonts/font/stylesheet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet">
	<script src="./js/library/vue.js"></script>
</head>

<body>
	<div class="ped" v-if="active">
		<div v-if="style == 0" class="dialog">
			<div class="name">
			{{nameact}}
			</div>
			<div class="line"></div>
			<div class="textblock">
				<div class="text">
				{{fisttext}}
				</div>
			</div>
			<div style="bottom: 8.5vh;" class="btns">
				<div onclick="closemenu()" class="btnno">Спасибо не надо</div>
				<div @click="gostyle(1)" class="btnyes">{{buttext1}}</div>
			</div>
		</div>
		<div v-if="style == 1" class="dialog">
			<div class="name">
			{{nameact}}
			</div>
			<div class="line"></div>
			<div class="textblock">
				<div class="text" style="top: 1.5vh;">
				{{twutext}}
				</div>
			</div>
			<div style="bottom: 8.5vh;" class="btns">
				<div @click="buylic(0)" class="btnyes">Да, давайте</div>
				<div @click="gostyle(0)" class="btnno">Нет, немного позже</div>
			</div>
		</div>
	</div>
    <script src="./js/index.js"></script>
	<script src="./js/library/jquery-3.2.1.min.js"></script>
</body>
</html>