.n-success,
.n-warning,
.n-danger,
.n-info {
	display: block;
    margin: 5px;
	display: block;
    padding: 12px 12px 12px 7px;
	margin-left: auto;
    margin-right: auto;
    width: 17%;
	text-align: center;
    color: #333;
    border-radius: 2px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    box-sizing: 1px;
	position: block;
	margin-top: 50%;
}
.n-success:before,
.n-warning:before,
.n-danger:before,
.n-info:before {
    content: "";
    background: inherit;
    color: inherit;
    border: inherit;
    display: block;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 48px;
    position: absolute;
    left: 38.2%;
    box-sizing: border-box;
    font-family: "FontAwesome";
    font-size: 22px;
	margin-top: -14px;
}
.n-success {
    border: 2px solid #32a846;
    color: #32a846;
}
.n-success:before {
    content: "\f00c";
}
.n-warning {
    border: 2px solid #f08d3c;
    color: #f08d3c;
}
.n-warning:before  {
    content: "\f12a";
}
.n-danger {
    border: 2px solid #d9534f;
    color: #d9534f;
}
.n-danger:before  {
    content: "\f057";
}
.n-info {
    border: 2px solid #AB274F;
    color: #AB274F;
}
.n-info:before  {
    content: "!";
}